@import "common.css";

.container .lesson-list-nav .lesson-list{
    margin-top: 0;
    margin-left: 5px;
}

.container .lesson-list-nav .lesson-list .item{
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Gill Sans", sans-serif;
}

.container .lesson-list-nav .lesson-list .item i{
    cursor: pointer;
}

.container .lesson-list-nav .lesson-list .item .lesson-name{
    margin-left: 10px;
    cursor: pointer;
}

.container .lesson-list-nav .lesson-list .selected-lesson{
    color: rgb(0, 100, 200);
    border-right: 2px solid rgb(0, 100, 200);
    font-weight: 800;
}