@import "common.css";

/*设置框架整体布局样式*/
.header{
    width: 100%;
    height: 30px;
    background-color: #EDF4EC;
    line-height: 30px;
}

.header .title{
    font-size: 20px;
    text-indent: 0.5em;
}

.container{
    width: 100%;
    height: 100%;
    /* height: 800px; */
    /* background-color: red; */
}

.container .lesson-list-nav{
    width: 120px;
    height: 1500px;
    box-sizing: border-box;;
    background-color: #FDFDFD;
    overflow: scroll;
}

.container .student-content {
    /* height: 1000px; */
    box-sizing: border-box;
    overflow: scroll;
}