@import "common.css";

/*表格样式设置开始*/
.lesson-mgmt-area .tool-btn .add-lesson{
    margin-left: 10px;
    margin-top: 4px;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
}

.lesson-mgmt-area .lesson-list-nav table tr{
    font-size: 14px;
    white-space: nowrap;
}

.lesson-mgmt-area .lesson-list-nav table tr th{
    background-color: #EFEFEF;
}

.lesson-mgmt-area .lesson-list-nav .operator .operator-btn{
    margin-right: 5px;
}

.lesson-mgmt-area .lesson-list-nav .lesson{
    width: 200px;
    text-align: center;
    cursor: pointer;
    color: blue;
}

.lesson-mgmt-area .lesson-list-nav .total-surplus-lesson-num{
    width: 100px;
    text-align: center;
}

.lesson-mgmt-area .lesson-list-nav .create-time{
    width: 200px;
    text-align: center;
}

.lesson-mgmt-area .lesson-list-nav table tr:nth-child(odd) {
    background-color: #efefef;
}

.lesson-mgmt-area .lesson-list-nav table tr button{
    background-color: #19777f;
    color: white;
}

/*表格样式设置结束*/

/*添加课程对话框样式设置开始*/
.container .add-lesson-dialog{
    width: 300px;
    height: 110px;
    border: 1px solid;
    background-color: #EFEFEF;
    position: fixed;
    top: 15%;
    left: 15%;
}

/*添加课程对话框样式设置结束*/